.headingStudio {
  font-size: clamp(30px, 4.6vw, 70px);
  line-height: 1;
}

.aboutStudio {
  font-size: clamp(9px, 1.4vw, 20px);
  line-height: 1.16;
}

.clientStudio {
  font-size: clamp(22px, 3.4vw, 50px);
  line-height: 1;
}

@media (max-width: 650px) {
  .headingStudio {
    font-size: clamp(29px, 9.7vw, 63px);
    line-height: 1;
  }

  .aboutStudio {
    font-size: clamp(9px, 5.3vw, 33px);
    line-height: 1.16;
  }

  .clientStudio {
  font-size: clamp(39px, 9.5vw, 63px);
  line-height: 1;
}
}
